body {
    background-color: #2b5043;
    margin: 0;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
  color:white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

    margin: 20px auto;
    width: 300px;
  
   

}

form, button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
  

}
 